<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
             
       <div id="txt" th:if="${article!=null}" th:utext="${article.description}"></div>
       
       <button  th:onclick="save()">Save</button>
       <button  th:onclick="modify()">Modify</button>
       <script>
        function modify(){
           document.getElementById("txt").setAttribute("contenteditable", "true");
        }
         function save(){
           var n = document.getElementById("htxt").textContent;
           console.log("attention");
           var s = document.getElementById("txt").textContent;
           var response = {
           id1 : n,
           text : s
           };
           fetch('/saveArticle', {
           method: 'POST',
           headers: {
           'Content-Type': 'application/json; charset=utf-8'
           },
           body: JSON.stringify(response)
           });
 
           };
        </script> 
       
    </body>
</html>